@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #f6d365 0%, #fda085 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search__bar {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  outline: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.search__button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.search__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.search__button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.country {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.weather-value {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.info {
  font-size: 18px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
}
